/* Destinations SCSS */
/* Global SCSS */
/* Variables */
/* Colors */
/* Primary Color
Use for:
    hero background
    footer background
    activities background on itinerary cards    
*/
/* Secondary Color
Use for:
    site logo
    slogan color
    recommendations title
    footer titles
    footer text
*/
/* Highlight Color
Use for:
    active page
    "Get Started" button
    footer sub-titles
*/
/* Initialization  */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

#active {
  border-bottom: 3px solid #DB7A4E;
  padding-bottom: 0.5rem;
}

/* Keyframes */
/* Mixins */
/* Extensions */
.card-shape, .destination__container--card {
  width: 18rem;
  height: 28rem;
  border-radius: 5px;
}

.card-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Global usage */
/* Nav bar */
.nav-bar {
  display: flex;
  align-items: center;
  background-color: #FFF;
  position: sticky;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.nav-bar__logo h1 {
  font-size: 1.5rem;
  color: #335576;
}
.nav-bar__menu {
  display: flex;
  align-items: center;
}
.nav-bar__menu ul {
  display: flex;
}
.nav-bar__menu li {
  list-style: none;
  display: flex;
  padding: 0 1rem;
}

/* Button */
.button {
  position: relative;
  background-color: #DB7A4E;
  padding: 0.75rem 2.5rem;
  border-radius: 2rem;
  color: #FFF;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  background-color: #FEFAF5;
  justify-content: space-evenly;
  padding: 3rem 6rem;
}

.footer-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-info h3 {
  width: 100%;
  padding-bottom: 2rem;
  color: #335576;
  font-size: 1.75rem;
  text-transform: capitalize;
}
.footer-info a {
  color: #335576;
}
.footer-info__email--subtitles {
  color: #DB7A4E;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
.footer-info__email a {
  text-transform: none;
}
.footer-info__sched {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-info__sched div {
  padding-right: 3rem;
}
.footer-info__sched--subtitles {
  color: #DB7A4E;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
.footer-info__sched--hours {
  color: #335576;
  text-transform: capitalize;
}
.footer-info__icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-info__icons a {
  justify-content: left;
  padding-right: 3rem;
}
.footer-info__icons img {
  width: auto;
  height: 1.75rem;
}

/* Destinations section */
#hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#iceland {
  background-image: url("../assets/Images/iceland.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#greece {
  background-image: url("../assets/Images/greece.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.destination {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem;
}
.destination__title {
  color: #FFF;
  font-size: 3.5rem;
}
.destination__container {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: center;
}
.destination__container--card {
  display: flex;
  align-items: center;
  background-color: #FFF;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem 4rem 1rem;
  margin: 0 1.5rem;
}
.destination__container--card-title {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #000;
}
.destination__container--card-time-slot {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FEFAF5;
  padding: 1.25rem 0;
}
.destination__container--card-time-slot p {
  font-size: 1.325rem;
}/*# sourceMappingURL=destinations.css.map */