/* Variables */

/* Colors */
$White: #fff;
$Black: #000;
$smaller-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

/* Primary Color
Use for:
    hero background
    footer background
    activities background on itinerary cards    
*/
$primary-clr: #fefaf5;

/* Secondary Color
Use for:
    site logo
    slogan color
    recommendations title
    footer titles
    footer text
*/
$secondary-clr: #335576;

/* Highlight Color
Use for:
    active page
    "Get Started" button
    footer sub-titles
*/
$highlight-clr: #db7a4e;
