/* Destinations SCSS */

@use "./partials/global";
@use "./partials/mixin";
@use "./partials/variables";

/* Destinations section */

#hawaii {
  @include mixin.hawaii-bg;
  @include mixin.destination-bg-sizing;
}

#iceland {
  @include mixin.iceland-bg;
  @include mixin.destination-bg-sizing;
}

#greece {
  @include mixin.greece-bg;
  @include mixin.destination-bg-sizing;
}

.destination {
  @include mixin.flex-column;
  padding: 8rem 6rem;

  &__title {
    color: variables.$White;
    font-size: 3.5rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    justify-content: center;

    &--card {
      @extend .card-shape;
      @include mixin.flex-alignment;
      background-color: variables.$White;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 1rem 4rem 1rem;
      margin: 0 1.5rem;
    }

    &--card-title {
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: 2px solid variables.$Black;
    }

    &--card-time-slot {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: variables.$primary-clr;
      padding: 1.25rem 0;

      p {
        font-size: 1.325rem;
      }
    }
  }
}
